/* NOTE: Make sure that when you complete your Lab, you leave a comment at the top of this file listing which new properties you used! */

:root {
  --dk-grey: #263238;
  --hot-pink: #EC407A;
  --yellow: #FDD835;
  --green: #8BC34A;
  --white: #FAFAFA;
}
